h1 {
    -ms-text-align-last: center;
    text-align-last: center;
}
form {
    width: 400px;
    height: 200px;
    margin: auto;
    background: #eee;
    padding: 30px 0;
}

.data_inputs,
.submit_button {
    width: 80%;
    margin: 0 10%;
}
.submit_button input {
    border: none;
}
